body {
  background-color: #eee;
  text-align: center;
}

.mainTxt{
  font-size: 13px; 
  color: black;
}
.bottomTxt{
  font-size: 11px; 
  color: gray;
}
.pic {
    width: 100%;
    border: 1px solid #3685ff;
    border-radius: 10px;
}
.field{  
    border: 15px solid #fff;
    border-radius: 10px;
    padding: 0;
    border: 1;
}
