@font-face {
    font-family: 'Outfit', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
    font-style: normal;
}

html{
  height:100%;
  width:100%;
  padding:auto;
font-size:15px;
  font-family: 'Outfit', sans-serif;
}
body {
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  height:100%;
  width:100%;
  padding:auto;
}
.outer{
  position:relative;
}
.mainTxt{
  
    color: hsl(218, 44%, 22%);
    line-height: 0.8;
    font-weight: 700;
    font-size: 1.7em;
    
}
.bottomTxt{
  color: hsl(212deg 10.33% 61.24%);
    font-size:1.1em;
    line-height: 0.8;
    font-weight: 400;
}
.pic {
    width: 100%;
    border: 1px solid #3685ff;
    border-radius: 15px;
}
.field{  
    border: 20px solid hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 0;
    border: 1;
    background-color: hsl(0, 0%, 100%);
    height: fit-content;
  display:inline-block;
  position:absolute;
  top:0;
  bottom:0;
  margin:auto 0;
}
