html{
  height:100%;
  width:100%;
  padding:auto;
}
body {
  background-color: #eee;
  text-align: center;
  height:100%;
  width:100%;
  padding:auto;
}
.outer{
  position:relative;
}
.mainTxt{
  font-size: 13px; 
  color: black;
  font-family:Roboto;
}
.bottomTxt{
  font-size: 11px; 
  color: gray;
}
.pic {
    width: 100%;
    border: 1px solid #3685ff;
    border-radius: 10px;
}
.field{  
    border: 15px solid #fff;
    border-radius: 10px;
    padding: 0;
    border: 1;
    height: fit-content;
  display:inline-block;
  position:absolute;
  top:0;
  bottom:0;
  margin:auto 0;
}
